.flex {
    display: flex;
}
.flex-column {    
    flex-direction: column;
}
.flex-row {    
    flex-direction: row;
}
.gap-12 {
    gap: 12px;
}
.gap-16 {
    gap: 16px;
}
.width-1 {
    width: 50%;
}