fieldset {
    border: none;
    margin-top: 48px;
}
legend {
    margin-bottom: 24px;
    align-items: center;
    column-gap: 3px;
    p {
        font-weight: 800;
    }
}
.contato > div {
    margin-bottom: 1rem;
}